@tailwind base;
@tailwind components;
@tailwind utilities;



body{
  margin: 0px;
  overflow: hidden; 
  box-sizing: border-box;
  font-family: var(--font-archivo);
  background-color: #f8f8f8;
}

.footer-text {
  font-size: clamp(2.375rem, 1.95rem + 1.7vw, 3.4375rem);
}

.font-skills {
  font-size: clamp(1.875rem, 1.25rem + 2.5vw, 3.4375rem);
}